
<div id="container" >

<div id="sub_container">


<%if (@chapter.show_formulas == 1)%>
  <%= render :partial =>  'formulas_table' %>
<% end %>

<%= render :partial =>  'items_table' %> 

</div>
 

</div>
