<div id="inst">
<center>
<title>نظام صوتيّ لإسماع امتحان مُسجَّل</title>
<H2>نظام صوتيّ لإسماع امتحان مُسجَّل</H2>
</center>
<BR>

أمامك مثال لنظام صوتيّ لإسماع امتحانات مُخصَّص للممتحَنين المكفوفين أو لذوي الإعاقات البصريّة.
<BR>
لقد طُوِّر النّظام في المركز القطريّ للامتحانات والتّقييم.
<BR>
الهدف من هذا النّظام هو تمكين الممتَحَنين الّذين صودقت لهم هذه الظروف (أي، إسماع امتحان مُسجَّل) من التعرُّف على العمليّة، وذلك بغية تنجيع استخدامهم للنّظام في الامتحان الحقيقيّ.
<BR>
يُشغَّل النّظام بواسطة الفأرة.
<BR>
بإمكانك اختيار سرعة إسماع النّصّ، واختيار كِبَر الحروف على الشّاشة بواسطة الضّغط على الأيقونات (Icons) الموجودة في الطرف الأعلى من الشاشة.
<BR>
الممتَحَنون المكفوفون يستعينون خلال الامتحان بمراقِب يقوم بإسماعهم الامتحان وبالإشارة إلى إجاباتهم بحسب تعليماتهم. الممتَحَنون ذوو الإعاقات البصريّة يستطيعون تشغيل النّظام بأنفسهم أو بالاستعانة بالمراقِب - بحسب اختيارهم.
<BR>
<center>
<%= link_to "امتحان سيكومتريّ בחינה פסיכומטרית",instructions_examination_url(@psycho_exam),:class=>"link_to_exams" %> &nbsp;
<%= link_to "أمير אמי\"ר",instructions_examination_url(@amir_exam),:class=>"link_to_exams" %> &nbsp;
<%=  link_to "معرفة العبريّة  ידע עברית",instructions_examination_url(@yael_exam),:class=>"link_to_exams" %> &nbsp; 

</center>
</div>
<BR><BR>
