<div id="inst">
<center>


<title>מערכת השמעה לבחינה מוקלטת </title>
<H2>מערכת השמעה לבחינה מוקלטת </H2>
</center>


לפניך הדגמה של מערכת השמעת בחינה המיועדת לנבחנים עיוורים או כבדי ראיה.</br>

המערכת פותחה במרכז הארצי לבחינות ולהערכה.</br>

מטרת מערכת זו הינה לאפשר לנבחנים שאושר להם תנאי זה (השמעת הבחינה המוקלטת) להכיר את התהליך, וכך לתפקד באופן יעיל יותר בבחינה.</br>

הפעלת המערכת נעשית באמצעות העכבר.</br>

באפשרותך לבחור את קצב השמעת הטקסט, ולבחור את גודל האותיות על המסך על ידי לחיצה על אייקונים הנמצאים בחלקו העליון של המסך.</br>
נבחנים עיוורים ייעזרו בעת הבחינה בבוחן שישמיע את הבחינה ויסמן את תשובותיהם לפי הוראותיהם.</br>
 נבחנים כבדי ראיה יוכלו להפעיל את המערכת באופן עצמאי או להיעזר בבוחן - לפי בחירתם.</br>


 </br></br></br>
<center>

<%= link_to "בחינה פסיכומטרית",instructions_examination_url(@psycho_exam),:class=>"link_to_exams" %> &nbsp; 
<%= link_to "אמי\"ר",instructions_examination_url(@amir_exam),:class=>"link_to_exams" %> &nbsp;
<%= link_to "ידע עברית",instructions_examination_url(@yael_exam),:class=>"link_to_exams" %> &nbsp;
<%= link_to "פרקי אנגלית",instructions_examination_url(@engchaps_exam),:class=>"link_to_exams" %> &nbsp; 

</center>
</div>
<BR><BR>
 
