<div id="inst">
<center>
<H2>מערכת השמעה לבחינת אמי"ר מוקלטת - מסך הסבר</H2>
</center>
לפניך הוראות לתפעול מערכת ההשמעה.<BR>
מערכת ההשמעה כוללת בחינה לתרגול הקודמת לבחינה האמיתית.<BR>
בתחילת התרגול יש לשמוע את ההוראות הכלליות של הבחינה. לאחר מכן יש לעבור לפרק התרגול. <BR>
הכניסה לפרק התרגול (או לכל שאלה בהמשך) נעשית על ידי לחיצה שמאלית על העכבר כאשר הסמן נמצא על האייקון המתאים.<BR>
בתום התרגול תוכל להתחיל את הבחינה האמיתית.<BR>

סדר הפרקים בבחינה קבוע מראש ויש להתקדם על פיו.<BR>

בתוך כל פרק אפשר לבחור בסדר ההשמעה הרצוי, בין סוגי השאלות השונים.<BR>

לחיצת העכבר על שאלה תציג את אפשרויות ההשמעה שלה: השמעה רציפה של השאלה ואפשרויות התשובה,  או השמעה נפרדת של השאלה וכל אחת מאפשרויות התשובה.<BR>


בקטעי הבנת טקסט קיימת אפשרות להשמעה רציפה של הקטע כולו, ואפשרות להשמעה של כל אחת מהפסקאות בנפרד.<BR>

במהלך ההשמעה של חלק כלשהו אפשר לעצור את ההשמעה על ידי לחיצה על הסימן המתאים, ואפשר לחדש את ההשמעה מאותו מקום על ידי לחיצה נוספת על אותו סימן.<BR>

לחיצה על חלק אחד תפסיק אוטומטית את ההשמעה ותביא להשמעת החלק האחר.<BR>

<BR><BR>
<center>
<%= link_to "לתחילת התרגול",examination_url(@exam),:class=>"link_to_exams" %> &nbsp;

</center>
</div>
<BR><BR>