<div id="inst">
<center>
<H2>نظام صوتيّ لإسماع امتحان سيكومتريّ مُسجَّل - شاشة شروح </H2>
</center>
<BR>  
أمامك تعليمات لتشغيل نظام الإسماع.
<BR>  يشتمل نظام الإسماع على امتحان تمرينيّ يسبق الامتحان الحقيقيّ.
<BR>  في بداية التّمرين يجب الاستماع إلى التعليمات العامّة للامتحان. بعدئذٍ يجب الانتقال إلى فصول التّمرين. 
<BR>  فصول التّمرين هي صيغة حقيقيّة لفصول من امتحان سيكومتريّ كان قد مرّ من قبل.
<BR>  الدّخول إلى فصل التّمرين (أو لكلّ سؤال لاحقًا) يتمّ بواسطة الضّغط على الزّر الأيسر في الفأرة حينما يكون المؤشّر موجودًا على الأيقونة (Icon) الملائمة.
<BR>  بعد انتهائك من التّمرين يمكنك البدء بالامتحان الحقيقيّ.
<BR>  
 ترتيب الفصول في الامتحان حُدِّدَ مسبقًا ويجب التقدُّم بموجبه.
<BR>  
 داخل كلّ فصل، تظهر الأسئلة بحسب ترتيب معيّن لكن يمكن اختيار سماعها حسب التّرتيب الّذي ترغب به.
<BR>  
  الضّغط بالفأرة على سؤال ما يعرض إمكانيّات إسماعه: إسماع متواصل للسّؤال مع إمكانيات الإجابة، أو إسماع منفصل للسّؤال ولكلّ واحدة من إمكانيّات الإجابة.
<BR>  
  في قِطع فهم المقروء توجد إمكانيّة إسماع النّصّ بأكمله، وإمكانيّة إسماع كلّ فقرة من فقراته على حدة.
<BR>  
  لدى إسماع أي جزء من الامتحان، يمكن إيقاف الإسماع بواسطة الضّغط على الشّارة الملائمة، ويمكن تجديد الإسماع من ذات الموقع بواسطة الضّغط مرّة أخرى على ذات الشّارة.
<BR>  
  إذا كان إسماع قسم ما لم ينتهِ بعد، فإنّ الضّغط على قسم آخر سيُوقف الإسماع فورًا وسيؤدّي إلى إسماع القسم الآخر.
<BR>  
  في فصل التّفكير الكمّي، بالإضافة إلى إسماع التعليمات والأسئلة توجد إمكانيّة لإسماع القوانين الرّياضيّة، بواسطة الضّغط على الزّر الأيمن في الفأرة على اسم القانون المطلوب.
<BR>  تظهر القوانين في الجانب الأيسر من الشاشة.

<BR>  

</p>    
<BR>  

<BR><BR>
<center>
<%= link_to "لبدء التّمرّن לתחילת התרגול",examination_url(@exam),:class=>"link_to_exams" %>
</center>
<BR><BR>
