<html>
<head>
<style type="text/css">
p.one
{
 position: fixed;
 left: 0;
 top: 40%;
 display: block;
 background: #1B97F2 url(http://railscasts.uservoice.com/images/feedback_tab.png) -2px 50% no-repeat;
 width: 25px;
 height: 90px;
 margin-top: -45px;
 border: outset 1px #1B97F2;
 border-left: none;
 z-index: 100001;
}
</style>
</head>
<body>

<p class="one">Some text</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>
<p>adadasdadasd</p>


</body>
</html>
