<!DOCTYPE html>
<html>
<head>
  <title>Voice</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "jquery.min", "jquery_ujs", "voice" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
